/* Ref. Liang Kong INFO2222 Assignment 2 */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(#bed3c3, #4a919e);
}

#reset {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  width: 500px;
  height: 500px;
}

#reset h1 {
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

#reset input {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  transition: box-shaodw 0.5s ease;
}

#reset input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

#reset button {
  font-size: 16px;
  margin: auto;
  float: right;
}

#reset a {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #364547;
}

#reset a:hover {
  border-bottom-color: transparent;
}
