.Homepage {
  width: 100%;
}
.Homepage table {
}

.Homepage .navigationbar {
  width: 100%;
  height: 50px;
  background: forestgreen;
  margin: 0;
  padding: 0;
  text-align: center;
}
.Homepage .navigationbar h1 {
  color: white;
}
.Homepage span {
  color: white;
  text-align: center;
}

.Homepage span.added-quantity {
  margin-right: 10px;
  color: black;
}
.popup_inner span {
  color: black;
}
.Homepage .navigationbar .Barleft {
  float: left;
  width: 20%;
  height: 100%;
}
.Homepage .navigationbar .BarMid {
  float: left;
  width: 45%;
  height: 50%;
  top: 25%;
  position: relative;
}
.Homepage .titlesearchinput {
  float: left;
  margin-left: 15%;
}
.Homepage .brandsearchinput {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.Homepage .highvaluesearchinput {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.Homepage .searchbutton {
  float: right;
  margin-left: 10px;
}
.Homepage .navigationbar .ButtonList {
  float: right;
  height: 100%;
}
.Homepage .navigationbar .ButtonList p {
  float: left;
  height: 100%;
}
.Homepage .navigationbar Button {
  padding-top: 0;
  color: white;
  background-color: forestgreen;
  height: 100%;
  /*float:left;*/
}

.Homepage th {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.Homepage td {
  width: 100px;
  text-align: center;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}

.Homepage .soldoutlist {
  float: left;
  width: 20%;
  border: 2px solid black;
}
.Homepage .soldoutlist table {
  width: 90%;
}

.Homepage .searchresultlist {
  float: left;
  width: 59%;
}
.Homepage .searchresultlist table {
  width: 100%;
  /*display:inline*/
}
.Homepage .searchresultlist .BottomButton {
  float: right;
}
.Homepage .bestsellerlist {
  float: right;
  width: 20%;
  border: 2px solid black;
}
.Homepage .bestsellerlist table {
  table-layout: fixed;
  width: 90%;
}
.Homepage .homepagecontent .bestsellerlist {
  position: absolute;
  right: 0;
}

.Homepage .phoneimg {
  width: 180px;
  height: 220px;
}

.Homepage .listimg {
  width: 70px;
  height: 80px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.popup th {
  background: forestgreen;
  color: white;
}
.popup_inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  /*bottom: 2%;*/
  margin: auto;
  background: white;
  float: left;
}

.popup_inner .informationtable {
  width: 80%;
}

.popup_inner .infoinput {
  height: 80px;
}
.popup_inner .infoinputleft {
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  width: 40%;
}

.popup_inner .addreveiwbutton {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  height: 50%;
}
.popup_inner .ratinginput {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  height: 50%;
}
.popup_inner .commentinput {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  height: 80%;
  word-wrap: break-word;
}
.popup_inner .more-button {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  height: 50%;
}
