
.Homepage .navigationbar {
  height: 200px;
  width: 100%;
}
.Homepage .homepagecontent {
  width: 100%;
}
.Homepage table {
  border: 2px solid forestgreen;
}

.Homepage .soldoutlist {
  float: left;
  width: 20%;
}
.Homepage .bestsellerlist {
  float: right;
  width: 20%;
}
.Homepage .searchresultlist table {
  border: 2px solid forestgreen;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.Homepage .popup_inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 25%;
  /*bottom: 2%;*/
  margin: auto;
  background: white;
}
