* {
  box-sizing: border-box;
}

.App {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  color: rgb(255, 200, 0);
  text-align: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 15px 0;
}

.back-button {
  /* float: right; */
  padding: 5px 5px;
  margin-top: 10px;
  background-color: #a626d3;
  color: rgb(255, 200, 0);
  border: 1px solid forestgreen;
  border-radius: 6px;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 100%;
}

th {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

td {
  width: 100px;
  text-align: center;
  padding: 10px 10px;
}

.submit-button {
  float: right;
  padding: 20px 20px;
  margin-top: 10px;
  background-color: #a626d3;
  color: rgb(255, 200, 0);
  border: 1px solid forestgreen;
  border-radius: 6px;
  font-size: 1.5rem;
  cursor: pointer;
}

table .table-title {
  /* color: rgb(255, 200, 0); */
  font-size: 1.5rem;
}

.quantity-input {
  width: 80%;
  margin-bottom: 5px;
}

.input-button,
.remove-button {
  height: 30px;
  background-color: #a626d3;
  color: rgb(255, 200, 0);
  border: 1px solid forestgreen;
  border-radius: 3px;
  cursor: pointer;
}

.total-price-label,
.total-price {
  font-size: 1.5rem;
  color: red;
}

.total-price-label {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.main-bottom {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
